***Q1.For the below DataFrame create a column "Age Category" which classifies the ages as Minor, Adult, and Senior.<br>
data = {"Age" : [12,13,14,23,32,52,27,12,76,45]}<br>
df = pd.DataFrame(data)***

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({"Age" : [12,13,14,23,32,52,27,12,76,45]})
df

   Age
0   12
1   13
2   14
3   23
4   32
5   52
6   27
7   12
8   76
9   45

In [3]:
df1 = pd.DataFrame({"Age Category" : []})

In [4]:
df+df1

   Age  Age Category
0  NaN           NaN
1  NaN           NaN
2  NaN           NaN
3  NaN           NaN
4  NaN           NaN
5  NaN           NaN
6  NaN           NaN
7  NaN           NaN
8  NaN           NaN
9  NaN           NaN

***Q2.Write a NumPy program to change two array axes.<br>
Sample array = [[1,2,3]]<br>
Expected output:***<br>
**[[1],**<br>
  **[2],**<br>
 **[3]]**

In [5]:
arr = np.array([[1,2,3]])
arr.reshape(3,1)

array([[1],
       [2],
       [3]])

***Q3.Write a NumPy program to sum all the multiple of 3 or 5 below 100.***

In [6]:
ar1 = np.array(range(1,100))

In [7]:
x = (ar1[ar1%3==0])
e = x.sum()
e

1683

In [8]:
y = (ar1[ar1%5==0])
f = y.sum()
f

950

In [9]:
e+f

2633