1.Find the numbers that are multiple of 3 from a given series.

In [41]:
import pandas as pd

In [31]:
x = pd.Series([1,2,3,4,5,6,7,8,9,10])
y = [2,5,8]
x[y]

2    3
5    6
8    9
dtype: int64

2.ser = pd.Series(list("abcdefghijklmnopqrstuvwxyz"))<br>
pos = [0,4,8,14,20]<br>
Extract items from the series at the given positions in list.

In [32]:
ser = pd.Series(list("abcdefghijklmnopqrstuvwxyz"))
pos = [0,4,8,14,20]
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

In [53]:
e = pd.DataFrame({"a":([1,2,3,4,5]),"b":([6,7,8,9,10])})
e

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [56]:
e = e.reindex(columns= ["b","a"])
e

    b  a
0   6  1
1   7  2
2   8  3
3   9  4
4  10  5